/* @import "base/mixins"; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  /* font-family: $fontFamily; */
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

/* :focus,
:active {
  // outline: none;
} */
/* a:focus,
a:active {
  // outline: none;
} */
ul, li, ol {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #434242;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 16px;
  background-color: #fff;
  /* 	.loaded & {
	} */
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*="__container"] {
  max-width: 1200px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

@media (max-width: 479.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

.title {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  /* identical to box height, or 60px */
  letter-spacing: 0.02em;
  font-size: 46px;
  color: #000;
  /*   &--page {
  } */
}

.title--main {
  font-family: 'Oswald';
  font-size: 54px;
  color: #fff;
}

.title--footer {
  color: #fff;
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.subtitle--question {
  line-height: 140%;
  /* or 25px */
}

.subtitle--response {
  line-height: 130%;
  /* or 23px */
}

.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* text-align: center; */
  padding: 13px 42px;
  border-radius: 8px;
}

.button--red {
  color: #fff;
  background-color: #961914;
}

.button--red:hover {
  background-color: #75110D;
}

.button--transparent {
  color: #961914;
  border: 1px solid #961914;
  background-color: transparent;
}

.button--transparent:hover {
  background-color: #ead1d0;
  border: 1px solid #ead1d0;
}

.button--send {
  color: #EC7973;
  padding: 13px 54px;
  background-color: #fff4f3;
}

.button--send:hover {
  color: #961914;
  background-color: #EAD1D0;
}

.button--messenger {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.button--messenger:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.logo {
  width: 80px;
  height: 80px;
}

.main-page {
  background: center/cover no-repeat url(../img/main_bgi.jpg);
  z-index: 5;
}

.main-page::before {
  content: "";
  background: center/auto 100% no-repeat url(../img/zooo_beefor.svg);
  width: 148px;
  height: 548px;
  position: absolute;
  bottom: 10%;
  right: 1px;
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
  height: 100vh;
}

.main-page__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 412px;
          flex: 0 1 412px;
}

.main-page__title {
  margin-bottom: 10px;
  z-index: 3;
  position: relative;
}

.main-page__title::after {
  content: "";
  background: center/100% no-repeat url(../img/ellipse.svg);
  position: absolute;
  top: 60px;
  left: 174px;
  width: 266px;
  height: 101px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: -1;
  cursor: pointer;
}

.main-page__subtitle {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 25px;
}

@media (max-width: 1200px) {
  .main-page::before {
    width: 128px;
    height: 478px;
    bottom: 8%;
  }
}

@media (max-width: 991.98px) {
  .main-page::before {
    width: 128px;
    height: 478px;
    bottom: 4%;
  }
}

@media (max-width: 767.98px) {
  .main-page::before {
    width: 107px;
    height: 400px;
    bottom: 2%;
  }
  .main-page__title {
    font-size: 44px;
  }
  .main-page__title::after {
    top: 47px;
    left: -5px;
    width: 186px;
    height: 83px;
  }
  .main-page__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 479.98px) {
  .main-page::before {
    width: 84px;
    height: 310px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  min-height: 112px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body {
  background-color: transparent;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  z-index: 5;
  width: 80px;
  height: 80px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  padding: 10px 0;
  margin-right: 54px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.7;
  color: #fff;
}

.menu__link:hover {
  position: relative;
}

.menu__link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 110%;
  height: 2px;
  background-color: #961914;
  -webkit-transform: translate(-5%, 0px);
          transform: translate(-5%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .menu__item {
    margin-right: 34px;
  }
  .menu__item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  /* .icon-menu {
		position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		flex: 0 0 27px;
		height: 16px;
		cursor: pointer;
		z-index: 5; */
  /*  span,
    &::before,
		&::after {
			content: "";
      background-color: #fff
      height: 2px;;
      */
  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27px;
            flex: 0 0 27px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu.active {
    /* 			&::before,
			&::after {
			} */
  }
  .icon-menu.active span {
    width: 0;
  }
  .icon-menu.active::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .icon-menu.active::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__link {
    color: #000;
    font-weight: 600;
    font-size: 24px;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    padding: 122px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body.active::after {
    content: "";
    background: center/auto auto no-repeat url(../img/burger-menu__right.svg);
    width: 188px;
    height: 403px;
    position: absolute;
    right: 0;
    bottom: -227px;
  }
  .menu__body.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 82px;
    width: 100%;
    background-color: #e5e5e5;
  }
  .menu__item {
    margin: 0 0 40px 0;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__container {
    min-height: 82px;
  }
  .header__logo {
    width: 50px;
    height: 50px;
  }
}

.footer {
  background-color: #961914;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 187px;
          column-gap: 187px;
  padding-top: 80px;
  margin-bottom: 80px;
  color: #fff;
}

.footer-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 302px;
          flex: 0 0 302px;
}

.footer-contacts__title {
  margin-bottom: 8px;
}

.footer-contacts__subtitle {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 32px;
}

.footer__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}

.footer__button-group {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  max-width: 223px;
  margin: 24px 0 40px;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.footer__button:not(:last-child) {
  margin-bottom: 16px;
}

.footer__button img {
  margin-right: 8px;
}

.footer a.footer__instagram {
  text-decoration: underline;
  line-height: 140%;
}

.footer__privacy {
  background-color: #69120E;
}

.footer-question {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 30px;
}

.footer-question__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 4px;
}

.footer-question__subtitle {
  margin-bottom: 34px;
}

.form {
  max-width: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.form__textarea, .form__input {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  padding: 14px 80px 14px 14px;
  margin-bottom: 16px;
}

.form p {
  font-size: 12px;
  line-height: 140%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 180px;
          flex: 0 1 180px;
}

.form__textarea {
  width: 100%;
  height: 122px;
  padding: 15px;
  margin-bottom: 23px;
}

.form__checkbox {
  display: inline-block;
}

.form__button {
  margin-left: auto;
}

.policy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 55px;
          column-gap: 55px;
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 28px;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #fff;
  opacity: 0.4;
}

.policy__container a:hover {
  opacity: 0.6;
}

.policy__information {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.policy__public-offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 119px;
          flex: 0 0 119px;
}

.policy__privacy-policy {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 201px;
          flex: 0 0 201px;
}

@media (max-width: 1200px) {
  .form {
    display: block;
  }
  .form__input {
    width: 100%;
  }
  .form p {
    display: inline;
  }
  .form__button {
    margin-top: 32px;
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .footer__wrapper {
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}

@media (max-width: 767.98px) {
  .policy__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .policy__information {
    width: 100%;
    padding-bottom: 24px;
  }
  .policy__public-offer {
    width: 50%;
  }
  .policy__privacy-policy {
    width: 50%;
  }
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 150px;
            column-gap: 150px;
    margin-bottom: 242px;
  }
  .footer__subtitle--instagram {
    margin-bottom: 56px;
  }
  .footer-contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .form {
    max-width: 100%;
  }
  .footer-question {
    padding-top: 0;
  }
}

.barf {
  padding-top: 180px;
}

.wrapper-barf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.wrapper-barf__left {
  padding: 40px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 588px;
          flex: 0 1 588px;
}

.wrapper-barf__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 588px;
          flex: 0 1 588px;
}

.left-wrapper__title {
  margin-bottom: 32px;
}

.left-wrapper__description {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 24px;
}

.left-wrapper__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000;
  margin-bottom: 16px;
}

.left-wrapper__item {
  margin-bottom: 24px;
}

.barf-list {
  max-height: 288px;
  margin-top: 80px;
  background-color: #ead1d0;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.barf-list__left {
  margin-left: 72px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.barf-list__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 16px;
}

.barf-list__list {
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 100%;
  max-width: 100%;
}

.barf-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 72px;
}

.barf-list__item img {
  margin-right: 16px;
}

.barf-list__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 72px;
}

@media (max-width: 1200px) {
  .barf-list {
    max-height: none;
  }
}

@media (max-width: 767.98px) {
  .barf {
    padding-top: 80px;
  }
  .barf-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .barf-list__right {
    display: none;
  }
  .barf-list__left {
    margin-left: 49px;
  }
  .barf-list__item {
    margin-right: 0;
  }
}

@media (max-width: 479.98px) {
  .barf-list__left {
    margin-left: 32px;
  }
}

.ration {
  padding-top: 180px;
}

.ration__tabs-title {
  margin-bottom: 60px;
}

.ration__cards {
  margin-bottom: 80px;
}

.ration__calculate {
  background-color: #ead1d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 63px 121px 63px 0;
}

.title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 62px;
          column-gap: 62px;
  margin-bottom: 74px;
}

.title-group__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.title-group__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  line-height: 140%;
  color: #000;
}

.title-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.title-tabs__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #000;
}

.title-tabs__title:hover {
  text-shadow: 1px 1px 2px black;
}

.title-tabs__title--active {
  font-size: 24px;
}

.cards-ration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-ration__card {
  margin-bottom: 25px;
}

.card-ration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
}

.card-ration__image {
  margin-bottom: 45px;
}

.card-ration__title {
  font-weight: bold;
  color: #000;
  margin-bottom: 4px;
}

.card-ration__subtitle, .card-ration__subdescription {
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
  margin-bottom: 16px;
}

.card-ration__description {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 11px;
}

.card-ration__subdescription {
  margin-bottom: 24px;
}

@media (max-width: 991.98px) {
  .ration {
    padding-top: 100px;
  }
  .title-group__description {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .ration__calculate {
    padding: 32px 0 32px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.why {
  padding-top: 180px;
  padding-bottom: 180px;
}

.why__title {
  margin-bottom: 42px;
}

.responses-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.response-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
}

.response-card__image {
  margin-bottom: 16px;
}

.response-card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000;
  margin-bottom: 8px;
}

.response-card__descriptions {
  color: #000;
  line-height: 140%;
}

@media (max-width: 1200px) {
  .response-card:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .why {
    padding-top: 80px;
  }
}

.concern {
  background-color: #ead1d0;
  padding: 80px 0;
}

.concern-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.concern-block__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 185px;
}

.concern-block__image--small {
  position: absolute;
  left: 195px;
  top: 356px;
}

.concern-block__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 513px;
          flex: 0 1 513px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.concern-block__title {
  margin-bottom: 40px;
}

.concern-block__description {
  line-height: 130%;
}

.concern-block__description p {
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .concern-block__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 767.98px) {
  .concern-block__image {
    width: 262px;
    height: 309px;
  }
  .concern-block__image--small {
    width: 202px;
    height: 217px;
    left: 149px;
    top: 196px;
  }
}

.get {
  padding-top: 180px;
  padding-bottom: 180px;
}

.get__title {
  margin-bottom: 42px;
}

.spoiler {
  padding-bottom: 180px;
}

.spoiler-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 76px;
          column-gap: 76px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.spoiler-block__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 348px;
          flex: 1 0 348px;
}

.spoiler-block__title {
  margin-bottom: 40px;
}

.spoiler-block__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.spoiler-block__item {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 32px;
}

.spoiler-block__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.spoiler-block__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #000;
  width: 100%;
  text-align: start;
  position: relative;
  padding-right: 53px;
}

.spoiler-block__button::before, .spoiler-block__button::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #961914;
  position: absolute;
  top: 12px;
  right: 10px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.spoiler-block__text {
  line-height: 140%;
  max-width: 691px;
  margin: 22px 0 32px;
}
