.barf {
  padding-top: 180px;
  @media (max-width:$tablet){
    padding-top: 80px;
  }
}

.wrapper-barf {
  display: flex;
  align-items: center;
  column-gap: 24px;
  @media (max-width:$tablet){
    flex-wrap: wrap;
  }
  &__left {
    padding: 40px 0;
    flex: 0 1 50%;
    @media (max-width:$pc){
       padding: 0;
    }
    @media (max-width:$tablet){
      flex: 1 1 100%;
      margin-bottom: 40px;
    }
  }

  &__right {
    flex: 0 1 50%;
    @media (max-width:$tablet){
      flex: 1 1 100%;
    }
  }
}

.left-wrapper {
		&__title {
      margin-bottom: 32px;
      @media (max-width:$pc){
        line-height: 90%; 
      }
		}

		&__description {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 24px;
      color: #434242;;
		}

		&__subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      margin-bottom: 16px;
		}

		&__item {
      line-height: 140%;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      color: #434242;
      position: relative;
      padding-left: 12px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $footerBackgroundColor;
      }
		}
}

.ridht-wrapper__image {
  width: 100%;
}

//==================================================================================

.barf-list {
  margin-top: 80px;
  background-color: $secondBackgroundColor;
  position: relative;
  @media (max-width:$tablet){
    margin-top: 0;
  }
  &__wrapper {

    max-height: 288px;
    min-width: 0;
    padding: 30px 80px 50px 80px;
    display: flex;
    justify-content: center;
    @media (max-width:$pc){
      max-height: 100%;
      column-gap: 33.333%;
      padding: 30px 130px 50px 130px;
    }
    @media (max-width:$tablet){
        padding: 30px 30px 50px 100px;
        column-gap: 40px;
        justify-content: flex-start;
    }
    @media (max-width:$mobile){
      padding: 60px 0 80px 0;
      column-gap: 0;
      max-width: 100%;
    }
    @media (max-width:$mobileSmall){
    }

  }
  &__left,
  &__right {
    flex: 0 1 50%;
    @media (max-width:$pc){
      flex: 0 1 33.333%;
    }
    @media (max-width:$tablet){
      flex: 0 1 50%;
    }
    @media (max-width:$mobile){
      flex: 1 0 100%;
      padding-left: 90px;
      width: 100%;
    }
    @media (max-width:$mobileSmall){
      padding-left: 30px;
    }
  }


  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__list {
    font-weight: 500;
    font-size: 18px;
    line-height: 250%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: fit-content;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 72px;
    @media (max-width:$pc){
       margin-right: 0; 
    }
    img {
      margin-right: 16px;
    }
  }
}

@media (max-width: 1200px) {
  .barf-list {
    max-height: none;
  }
}

// PAGINATION ==================================================================================

.barf-list {
  overflow: hidden;
  &::before{
    content:'';
    position: absolute;
    background: url(../img/barf-list__bgi.svg) left / 100% auto no-repeat;
    width: 100%;
    height: 100%;
    @media (max-width:$pc){
      background-size: 140% auto;
    }
    @media (max-width:$tablet){
      background-size: 190% auto;
    }
    @media (max-width:$mobile){
      background-size: 210% auto;
    }
    @media (max-width:$mobileSmall){
      transform: rotate(-90deg);
      min-width: 499px;
      background-size: 300% auto;
      background-position: 63% -4%;
    }
  }
  .swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translate(-50%,0px);
    transition: 300ms opacity;
    z-index: 10;
    @media (min-width:$mobile){
       display: none;
    }
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block; //!!!!!!!
    border-radius: 50%;
    background: transparent;
    border: 1px solid $footerBackgroundColor;
    transition: all 0.3s ease 0s;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  .swiper-pagination-bullet-active {
    background: $footerBackgroundColor;
  }
}