.main {
  &-page {
    background: url(../img/main_bgi.jpg) no-repeat center / cover;
    z-index: 5;
    position: relative;
    //height: 100vh;
    //min-height: 540px;
    &::before {
      content: "";
      background: center / auto 100% no-repeat url(../img/zooo_beefor.svg);
      width: 148px;
      height: 548px;
      position: absolute;
      bottom: 10%;
      right: 1px;
      position: absolute;
    }
    &__container {
      display: flex;
      align-items: center;
      min-height: 600px;
      height: 100vh;
      //padding-top: 112px;
      //padding-bottom: 112px;
    }
    &__wrapper {
      flex: 0 1 412px;
    }
    &__title {
      margin-bottom: 10px;
      z-index: 3;
      position: relative;
      &::after {
        content: "";
        background: center / 100% no-repeat url(../img/ellipse.svg);
        position: absolute;
        top: 60px;
        left: 174px;
        width: 266px;
        height: 101px;
        transform: rotate(0deg);
        z-index: -1;
        cursor: pointer;
      }
    }
    &__subtitle {
      font-size: 20px;
      line-height: 28px;
      color: $whiteColor;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    &-page {
      &::before {

        width: 128px;
        height: 478px;
        bottom: 8%;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .main {
    &-page {
      &::before {

        width: 128px;
        height: 478px;
        bottom: 4%;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .main {
    &-page {
      &::before {
        width: 107px;
        height: 400px;
        bottom: 2%;
      }
      &__title {
        font-size: 44px;
        &::after {
          top: 47px;
          left: -5px;
          width: 186px;
          height: 83px;
        }
      }
      &__subtitle {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 479.98px) {
  .main {
    &-page {
      &::before {

        width: 84px;
        height: 310px;

      }
    }
  }
}


