.popup-ration {
  &__content {
  }

  &__body {
    max-width: 872px;
    padding: 55px;
    display: flex;
    @media (max-width:$mobile){
      flex-wrap: wrap;
    }
    @media (max-width:$mobileSmall){
       padding: 24px;
       padding-top: 55px;
    }

    
    @include adaptiveValue("column-gap", 43, 20);
  }
  &__gallery{
    flex: 0 1 351px;
    @media (max-width:$mobile){
      margin: 0 auto;
      margin-bottom: 24px;
    }
    
  }
  &__text{
    flex: 0 1 366px;
    @media (max-width:$mobile){
      flex: 1 1 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 4px;
  }

  &__subtitle {
    font-size: 15px;
    line-height: 130%;
    color: #9F9E9D;
  }

  &__description,
  &__composition,
  &__calories {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #434242;
    span {
      font-weight: 600;
    }
  }

  &__description {
    margin-top: 15px;
    margin-bottom: 45px;
  }
  &__composition {
    margin-bottom: 72px;
  }

  &__calories {
    margin-bottom: 19px;
  }
  &__button {
    display: inline-block;
    margin-top: 36px;
    @media (max-width:$mobile){
        width: 100%;
        text-align: center;
    }
  }

}



//!  1  ВЕСЬ СЛАЙД ==================================================================================

.popup-slider {
  height: 421px;
  width: 351px;
  overflow: hidden;
  z-index: 1;

  margin-bottom: 17px;
  @media (max-width:$mobileSmall){
    width: 253px; 
    height: 304px;
  }
  @media (max-width: em(480)){
    margin-left: auto;
    margin-right: auto;
  }

}

//!  2 ОБЁРТКА СЛАЙДА ==================================================================================

.popup-slider__wrapper.swiper-wrapper,
.popup-mini__wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  //z-index: 1;
  //box-sizing: content-box;
}

//!  3 СЛАЙД ==================================================================================

.popup-slider__slide,
.popup-mini__slide {
  flex-shrink: 0; //!!!!!!!!!!!!!!!!!!
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  }
}


.popup-mini {
  width: 351px;
  height: 64px;
  //box-sizing: border-box;
  //padding: 17px 0;
  cursor: pointer;
  @media (max-width:$mobileSmall){
    width: 253px; 
    //
    margin-right: auto;
  }
  @media (max-width: em(480)){
    margin-left: auto;
    margin-right: auto;
  }
}

.popup-mini__slide {
  opacity: 0.4;
}

.popup-mini__slide.swiper-slide-thumb-active {
  opacity: 1;
}





//==================================================================================

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}

