.thanks-popup {

  &__body {
    position: relative;
    max-width: 872px;
    padding: 56px;
    display: flex;
    column-gap: 45px;
    align-items: center;
    @media (max-width:$mobile){
       flex-wrap: wrap;
    }
    @media (max-width:$mobileSmall){
      padding: 24px;
      padding-top: 55px;

    }
  }


  &__image {
    flex: 0 1 351px;
    height: 500px;

    @media (max-width:$mobile){
      margin: 0 auto 30px;
    }
    @media (max-width:$mobileSmall){
      flex: 1 1 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__text {
    flex: 0 1 373px;
    @media (max-width:$mobile){
      flex: 1 1 100%;
    }
    @media (max-width:$mobileSmall){

    }
  }

  &__title {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #961914;
    margin-bottom: 22px;
    @media (max-width:$mobileSmall){
      font-size: 32px; 
    }

  }

  &__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    p {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}
