.why {
  padding-top: 180px;
  padding-bottom: 180px;
  @media (max-width:$tablet){
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    margin-bottom: 42px;
  }
}

.responses-cards {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 26px;
  @media (max-width:$tablet){
    justify-content: space-between;
  }
  @media (max-width:$mobile){
    justify-content: center;
  }

}
.response-card {
  flex: 0 0 280px;
  @media (max-width:$pc){
     &:not(:last-child) {
       margin-bottom: 40px;
     }
  }
  @media (max-width:$tablet){
    margin-bottom: 40px;
    &:last-child,
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
  @media (max-width:$mobile){
    flex: 1 1 100%;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__image {
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 8px;
  }

  &__descriptions {
    line-height: 140%;
  }
}



@media (max-width: 767.98px) {
  .why {
    padding-top: 80px;
  }
}