.barf {
  padding-top: 180px;
}

.wrapper-barf {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  &__left {
    padding: 40px 0;
    flex: 0 1 588px;
  }

  &__right {
    flex: 0 1 588px;
  }
}

.left-wrapper {

		&__title {
      margin-bottom: 32px;
		}

		&__description {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 24px;
		}

		&__subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $blackColor;
      margin-bottom: 16px;
		}

		&__item {
      margin-bottom: 24px;
		}
}

.barf-list {
  max-height: 288px;
  margin-top: 80px;
  background-color: $secondBackgroundColor;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  //column-gap: 143px;
		&__left {
      margin-left: 72px;
      flex: 1 1 auto;
		}

		&__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 200%;
      text-transform: uppercase;
      color:$blackColor;
      margin-bottom: 16px;
		}

		&__list {
      font-weight: 500;
      font-size: 18px;
      line-height: 250%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 100%;
      max-width: 100%;
		}

		&__item {
      display: flex;
      align-items: center;
      margin-right: 72px;
      img {
        margin-right: 16px;
      }
		}

		&__right {
      flex: 1 1 auto;
      margin-left: 72px;
		}
}

@media (max-width: 1200px) {
  .barf-list {
    max-height: none;
  }
}

@media (max-width: 767.98px) {
  .barf {
    padding-top: 80px;
    &-list {
      flex-wrap: wrap;
      &__right {
        display: none;
      }
      &__left {
        margin-left: 49px;
      }
      &__item {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 479.98px) {
  .barf-list {
    &__left {
      margin-left: 32px;
    }
  }
}