.concern {
  background-color: $secondBackgroundColor;
  padding: 80px 0;
}
.concern-block {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  &__left {
    flex: 0 0 50%;
    padding-bottom: 185px;
  }
  &__image {
    &--small {
      position: absolute;
      left: 195px;
      top: 356px;
    }
  }
  &__right {
    flex: 0 1 513px;
    align-self: center;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__description {
    line-height: 130%;
    p {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 991.98px) {
  .concern-block {
    &__left {
      flex: 0 0 auto;
    }
  }
}

@media (max-width: 767.98px) {
  .concern {
    &-block {
      &__image {
        width: 262px;
        height: 309px;
        &--small {
          width: 202px;
          height: 217px;
          left: 149px;
          top: 196px;
        }
      }
    }
  }
}