.footer {
  background-color: $buttonColor;
  &__wrapper {
    display: flex;
    column-gap: 187px;
    padding-top: 80px;
    margin-bottom: 80px;
    color:$whiteColor;
  }

  &-contacts {
    flex: 0 0 302px;

		&__title {
      margin-bottom: 8px;
		}

		&__subtitle {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 32px;
		}
  }

	&__phone {
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
	}

  &__button-group {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    max-width: 223px;
    margin: 24px 0 40px;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    img {
      margin-right: 8px;
    }
  }

  a.footer__instagram {
    text-decoration: underline;
    line-height: 140%;
  }

  &__privacy {
    background-color: $footerPrivacy;
  }
  &-question {

		&__title {
      //padding-top: 23px;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 4px;
		}

    &__subtitle {
      margin-bottom: 34px;
    }
  }
}
.form {
  max-width: 636px;
  max-height: 256px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;

  &__textarea,
  &__input {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    font-size: 14px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.6);
  }
  &__input {
    flex: 1 1 48%;
    padding: 14px 80px 14px 14px;
    margin-bottom: 16px;
    }
  p {
    font-size: 12px;
    line-height: 140%;
    flex: 0 1 180px;
  }
  &__textarea {
    width: 100%;
    height: 122px;
    padding: 15px;
    margin-bottom: 23px;
  }

  &__checkbox {
    display: inline-block;
  }
  &__button {
    margin-left: auto;
  }
}





.policy {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 55px;
    padding-top: 24px;
    padding-bottom: 24px;
    min-height: 28px; //?????
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: $whiteColor;
    opacity: 0.4;
    a {
      &:hover {
        opacity: 0.6;
      }
    }
  }


  &__information {
    flex: 0 1 auto;
  }
  &__public-offer {
    flex: 0 0 119px;
    
  }
  &__privacy-policy {
    flex: 0 0 201px;
  }
}

//==================================================================================

@media (max-width: 1200px) {
  .form {
    display: block;
    &__input {
      width: 100%;
    }
    p {
      display: inline;
    }
    &__button {
      margin-top: 32px;
      width: 100%;
    }
  }
}

//Tablet
@media (max-width: 991.98px) { //дробные значения так как на целом значении может примениться другие правила
  .footer__wrapper {
    column-gap: 100px;
  }
}

// Mobile
@media (max-width: 767.98px) {
  .policy {
    &__container {
      justify-content: start;
      flex-wrap: wrap;
    }
    &__information {
      width: 100%;
      padding-bottom: 24px;
    }
    &__public-offer {
      width: 50%;
      
    }
    &__privacy-policy {
      width: 50%;
    }
  }

  .footer__wrapper {
    flex-wrap: wrap;
    column-gap: 150px;
  }
  .footer__subtitle--instagram {
    margin-bottom: 56px;
  }
}

// MobileSmall
@media (max-width: 479.98px) {

}