.ration {
  padding-top: 180px;

  &__tabs-title {
    margin-bottom: 60px;
  }

  &__cards {
    margin-bottom: 80px;
  }

  &__calculate {
    background-color: $secondBackgroundColor;
    display: flex;
    align-items: center;
    justify-content: end;
    //min-height: 184px;
    padding: 63px 121px 63px 0;
  }
}
.title-group {
  display: flex;
  align-items: center;
  column-gap: 62px;
  margin-bottom: 74px;
  &__title {
    flex: 0 0 auto;
  }
  &__description {
    flex: 0 1 auto;
    line-height: 140%;
    color: $blackColor;
  }
}

.title-tabs {
  display: flex;
  flex-direction: column;
  align-items: end;
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: $blackColor;
    &:hover {
      text-shadow: 1px 1px 2px black;
    }
    &--active {
      font-size: 24px;
    }
  }
}
.cards-ration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &__card {
    margin-bottom: 25px;
  }
}
.card-ration {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 0 0 280px;
  &__image {
    margin-bottom: 45px;
  }

  &__title {
    font-weight: bold;
    color: $blackColor;
    margin-bottom: 4px;
  }

  &__subtitle,
  &__subdescription {
    font-size: 13px;
    line-height: 130%;
    color: #9F9E9D;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 11px;
  }

  &__subdescription {
    margin-bottom: 24px;
  }
}

@media (max-width: 991.98px) {
  .ration {
    padding-top: 100px;
  }
  .title-group__description {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .ration__calculate {
    padding: 32px 0 32px 0;
    justify-content: center;
  }
}