.spoiler {
  padding-bottom: 180px;
}
.spoiler-block {
  display: flex;
  column-gap: 76px;

  &__left {
    flex: 0 0 348px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__right {
    flex: 1 1 auto;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 32px;
    padding-top: 32px;
/*     &:not(:first-child) {
      
    } */
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  &__button {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: $blackColor;
    max-width: 776px;
    width: 100%;
    text-align: start;
    padding-right: 53px;
    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background-color: $buttonColor;
      position: absolute;
      top: 44px;
      right: 10px;
      transition: transform 0.3s ease 0s;
    }
    &::after {
      transform: rotate(-90deg);
    }
    &._active::after {
      transform: rotate(0deg);
    }
  }

  &__text {
    line-height: 140%;
    max-width: 691px;
    margin-top: 22px;
    transition: all 0.3s ease 0s;
    &.hidden {
      display: none;
    }
  }
}

@media (max-width: 991.98px) {
  .spoiler-block {
    flex-wrap: wrap;
  }
}
