.why {
  padding-top: 180px;
  padding-bottom: 180px;
  &__title {
    margin-bottom: 42px;
  }
}

.responses-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 26px;

}
.response-card {
  flex: 0 0 280px;

  &__image {
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: $blackColor;
    margin-bottom: 8px;
  }

  &__descriptions {
    color: $blackColor;
    line-height: 140%;
  }
}

@media (max-width: 1200px) {
  .response-card {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 767.98px) {
  .why {
    padding-top: 80px;
  }
}