//=========================== COMMON ===========================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

//=========================== HTML, BODY ===========================

body {
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//=========================== BUTTON ===========================

input,
button,
textarea {
	/* font-family: $fontFamily; */
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

//=========================== LINK ===========================

a {
	color: inherit;
}
a:link,
a:visited,
a:hover {
	text-decoration: none;
}
/* :focus,
:active {
  // outline: none;
} */
/* a:focus,
a:active {
  // outline: none;
} */

//=========================== LIST ===========================

ul, li, ol {
	list-style: none;
}

//=========================== IMAGE ===========================

img {
  max-width: 100%;
  max-height: 100%;
	vertical-align: top;
}

//=========================== TITLE ===========================

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
