//=========================== COLOR ===========================

$mainColor: #434242;
$blackColor: #000;
$whiteColor: #fff;

$mainBackgroundColor: #e5e5e5;
$secondBackgroundColor: #ead1d0;
$thirdBackgroundColor: #fff4f3;
$footerBackgroundColor: #961914;
$footerPrivacy: #69120E;

$buttonColor: #961914;
$buttonHoverColor: #75110D;
$buttonSendColor: #EC7973;
$buttonSendHoverColor: #EAD1D0;



// Брейк-поинты
$pc: 1199.98px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S