//=========================== TITLE ===========================

.title {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  /* identical to box height, or 60px */
  letter-spacing: 0.02em;
  font-size: 46px;
  @media (max-width:$mobile){
     font-size: rem(40);
      
  }
  &--main {
    font-family: 'Oswald';
    font-size: 54px;
    color: $whiteColor;
  }
/*   &--page {
  } */
  &--footer {
    color: $whiteColor;
  }
}

//=========================== SUBTITLE ===========================


.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  &--question {
    line-height: 140%;
    /* or 25px */
  }
  &--response {
    line-height: 130%;
    /* or 23px */
    }
}


//=========================== BUTTON ===========================

.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* text-align: center; */
  padding: 13px 42px;
  border-radius: 8px;
  &--red {
    color: $whiteColor;
    background-color: $buttonColor;
    &:hover {
      background-color: $buttonHoverColor;
    }
  }
  &--transparent {
    color: $buttonColor;
    border: 1px solid $buttonColor;
    background-color: transparent;
    &:hover {
      background-color:$secondBackgroundColor;
      border: 1px solid $secondBackgroundColor;

    }
  }
  &--send {
    color: $buttonSendColor;
    padding: 13px 54px;
    background-color: $thirdBackgroundColor;
    &:hover {
      color: $buttonColor;
      background-color: $buttonSendHoverColor;
    }
  }
  &--messenger {
    font-weight: 500;
    font-size: 14px;
    color: $whiteColor;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

//=========================== LOGO ===========================

.logo {
  width: 80px;
  height: 80px;
}




