$whiteColor: #fff;

$mainBackgroundColor: #e5e5e5;
$secondBackgroundColor: #ead1d0;
$thirdBackgroundColor: #fff4f3;
$footerBackgroundColor: #961914;
$footerPrivacy: #69120E;

$buttonColor: #961914;
$buttonHoverColor: #75110D;
$buttonSendColor: #EC7973;
$buttonSendHoverColor: #EAD1D0;
